<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AgendaEjecutivaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>Model.Agenda</class>
    <class>Model.Usuario</class>
    <class>Model.Cita</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://ec2-34-234-228-127.compute-1.amazonaws.com:5432/d45m9p24rric91"/>
      <property name="javax.persistence.jdbc.user" value="kxzwcvssvxhjzq"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="b2c9113a69cdb3c8454956eefe7e1ab430c66818ec3b0068543745cd5be8c6bf"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="sslmode" value="require"/>
    </properties>
  </persistence-unit>
</persistence>
